.details{
    display: flex;
    justify-content: center;
    align-items: center;
}
.details-img{
    height: 500px;
    width: 90rem;
    align-items: center;
}
.details-{
    color: #fff;
}
.details-title, .details-location, .details-amount, .details-duration{
    font-size: 30px;
}
.details-description{
    margin-bottom: 15px;
}

.payment-btn{
    background: var(--color-primary);
    padding: 15px 20px;
    border-radius: 20px;
}
.payment-btn:hover{
    background: var(--color-secondary);
}